.button { 
      color: black; 
      padding: 15px 60px;
      margin-left: 1.5%;
      display: inline-block;
      text-decoration: none;
      font-size: 21px;
      transition-duration: 0.4s;
      }


.button:hover {
      color: orange;
      font-size: 22px;
      }


body{
      color:white;
      text-align: center;
      background: url(assets/images/theme1.jpg) no-repeat; 
      background-size: cover;
      background-attachment: fixed; 
      font-family: 'Roboto';
      margin: 0px;
      }


h1{
      margin-top: 3.20%;
      margin-bottom: 3.30%;
      font-size: 40px;
      color: white;
      text-align: center;
        }


#fond{
      background: white;
      }

#tete{
      background: white;
      padding-bottom: 15px;
      text-align: center;
      }

.logo{
      width: 4.9%;
      }

.rap{
      width: 19%;
      border-radius: 20px 20px 20px 20px;
      display: inline-block;
      margin: auto 75px;
      margin-bottom: 10%;
      }

.rap:hover{
      opacity: 65%;
}

h2{
      color: black;
      font-size: 35px;
      margin: auto;
      width: 25%;
      border-top: 3px solid black  ;
      border-bottom: 3px solid black;
}


h4{
      color: black;
      font-size: 25px;
      margin: auto 65px;
      width: 20%;
      display: inline-block;

}

