#tete{
  background: white;
  padding-bottom: 15px;
  text-align: center;
  }

.logo{
  width: 4.9%;
  }



.button { 
      color: black; 
      padding: 15px 60px;
      margin-left: 1.5%;
      display: inline-block;
      text-decoration: none;
      font-size: 21px;
      transition-duration: 0.4s;
      }


.button:hover {
      color: orange;
      font-size: 22px;
      }



h1{
      margin-top: 4.20%;
      margin-bottom: 2.30%;
      font-size: 40px;
      color: white;
      text-align: center;
    }


#fond{
  background: white;
  color: black;
  }

body{
      background: url(assets/images/theme1.jpg) no-repeat; 
      background-size: cover;
      background-attachment: fixed;
      font-family: 'Roboto'; 
      margin: 0px;
      }


p {
  font-size: 20px; 
  text-align: justify; 
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  }


.rap{
  width: 15.5%;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

audio{
  width: 25.5%;
  display: block;
  margin-left: auto;
  margin-right: 57%;
  border: 2px solid black;
  border-radius: 30px 30px 30px 30px;
  outline: 0;
}

 .top{
  margin-top: 7%;
  text-align: center;
  color: black;

 }



 h3{
      font-size: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }